<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.workmate">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/workmate_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/workmate_logo_circle"
        android:supportsRtl="true">
        <activity android:name=".activities.SplashActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".activities.EditProfileActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/Theme.WorkMate"/>

        <activity
            android:name=".activities.ServiceRegActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/Theme.WorkMate" />
        <activity
            android:name=".activities.ClientRegActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/Theme.WorkMate" />
        <activity
            android:name=".ReviewView"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/Theme.WorkMate"/>
        <activity
            android:name=".RateService"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/Theme.WorkMate"/>
        <activity
            android:name=".SupplierProfileActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/Theme.WorkMate"/>
        <activity
            android:name=".Calendar"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/Theme.WorkMate"/>
        <activity
            android:name=".database.OKHttpGET"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/Theme.WorkMate" />
        <activity
            android:name=".database.OKHttpPOST"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/Theme.WorkMate" />
        <activity
            android:name=".Login"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/Theme.WorkMate" />
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/Theme.WorkMate" />
        <activity
            android:name=".activities.LatestMessagesActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/Theme.WorkMateMessaging" />
        <activity
            android:name=".messages.ChatLogActivity"
            android:theme="@style/Theme.WorkMateMessaging"
            android:parentActivityName=".activities.LatestMessagesActivity"/>
        <activity
            android:name=".messages.NewMessageActivity"
            android:parentActivityName=".activities.LatestMessagesActivity"
            android:theme="@style/Theme.WorkMateMessaging" />

    </application>

</manifest>